/GameObjectLib/bin/Debug/GameObjectLib.dll
/GameObjectLib/bin/Debug/GameObjectLib.pdb
/GameObjectLib/bin/Debug/Messaging.dll
/GameObjectLib/bin/Debug/Messaging.pdb
/GameObjectLib/bin/Release/BinaryImageLib.dll
/GameObjectLib/bin/Release/GameObjectLib.dll
/GameObjectLib/bin/Release/GameObjectLib.pdb
/GameObjectLib/bin/Release/Messaging.dll
/GameObjectLib_Test/bin/Debug/GameObjectLib.dll
/GameObjectLib_Test/bin/Debug/GameObjectLib.pdb
/GameObjectLib_Test/bin/Debug/GameObjectLib_Test.dll
/GameObjectLib_Test/bin/Debug/GameObjectLib_Test.pdb
/GameObjectLib_Test/bin/Debug/Messaging.dll
/GameObjectLib_Test/bin/Debug/Messaging.pdb
/GameObjectLib_Test/bin/Debug/nunit.framework.dll
/GameObjectLib_Test/bin/Debug/nunit.framework.xml
/GameObjectLib_Test/bin/Release/BinaryImageLib.dll
/GameObjectLib_Test/bin/Release/BinaryImageLib.pdb
/GameObjectLib_Test/bin/Release/GameObjectLib.dll
/GameObjectLib_Test/bin/Release/GameObjectLib.pdb
/GameObjectLib_Test/bin/Release/GameObjectLib_Test.dll
/GameObjectLib_Test/bin/Release/GameObjectLib_Test.pdb
/GameObjectLib_Test/bin/Release/Messaging.dll
/GameObjectLib_Test/bin/Release/Messaging.pdb
/GameObjectLib_Test/bin/Release/nunit.framework.dll
/GameObjectLib_Test/bin/Release/nunit.framework.xml
/GameObjectLib_Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
